.game-body {
  font-family: 'Pixelify Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  color: white;

}

/* letter page */

.letter-body {
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color: rgba(0, 0, 0, 1);
    color: white;
    margin-top: 30px;
    font-size: 1.1em;

}


#counter {
  color: pink;
  font-size: 1.2em;
}

#countdown {
  color: pink;
  font-size: 1.1em;
  margin-top: 10px;
}

.scroll-container {
  overflow: auto;
  white-space: nowrap;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center items horizontally */
}

.scroll-container .gallery {
  display: flex;
  align-items: center; /* Center items vertically */
  margin: 20px;
}


.scroll-container img {
  max-width: 20%;
  border-style: dashed;
  border-color: white;
  border-width: 2px;
  border-radius: 8px;
  margin: 20px;
}


/* game start */

.start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Semi-transparent overlay */
    z-index: 999; /* Ensure it's above the game container */
    overflow: hidden; /* Prevent overflow */
}

.start-screen img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1; /* Place the image behind other content */
}

#start-button {
  font-family: 'Pixelify Sans', sans-serif;
  background: transparent;
  border-color: transparent;
  color: white;
  font-size: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 180px;
  position: relative;

}

#start-button:hover {
  color: blue;
  cursor: pointer;
}

.secondary-link {
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  font-size: 24px;
  display: block;
  top: 24px;
  right:24px;
  position: absolute;
  text-decoration: none;
}


.container {
  position: relative;
  width: 80%; /* Adjust as needed */
  height: 600px; /* Adjust as needed */
  background-image: url(images/screen1.jpg);
  background-size: cover;
  border-radius: 50px;
  overflow: hidden;
  border-color: #FFFFFF;
  border-style: dashed;
  border-width: 5px;
}

.screen1 {
  background-image: url(images/screen1.jpg);
  background-size: contain;
  max-height: 600px; /* Adjust as needed */


}

.screen2 {
  background-image: url(images/screen2.jpg);
  background-size: contain;
  max-height: 600px; /* Adjust as needed */

}

.screen3 {
  background-image: url(images/screen3.jpg);
  background-size: cover;
  max-height: 600px; /* Adjust as needed */

}

.screen4 {
  background-image: url(images/screen4.gif);
  background-size: cover;
  max-height: 600px; /* Adjust as needed */

}

.screen5 {
  background-image: url(images/screen5.jpeg);
  background-size: cover;
  max-height: 600px; /* Adjust as needed */

}

.screen6 {
  background-image: url(images/screen6.jpg);
  background-size: cover;
  max-height: 600px; /* Adjust as needed */

}

.screen7 {
  background-image: url(images/screen7.png);
  background-size: cover;
  max-height: 600px; /* Adjust as needed */

}


#player {
  width: 150px;
  height: 150px;
  background-image: url(images/mohsin.gif);
  background-size: cover;
  position: absolute;
  bottom: 40px;
  left: 20px;
}

#princess {
  display: none; /* Initially hidden */
  width: 150px;
  height: 150px;
  background-image: url(images/me.gif);
  background-size: cover;
  position: absolute;
  bottom: 280px;
  right: 170px;
}

#obstacle {
  width: 270px;
  height: 90px;
  background-image: url(images/obstacle.png);
  background-size: cover;
  position: absolute;
  bottom: 40px;
  left: 300px; /* Initial position */
  overflow: hidden;
}

#obstacle2 {
  width: 100px;
  height: 100px;
  background-image: url(images/bat.gif);
  background-size: cover;
  position: absolute;
  top: 100px;
  right: 20px; /* Initial position */
  overflow: hidden;
}
